.Home-container
{
    display: flex;
    margin: 0 auto; 
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f5f5f5; 
    flex-direction: column;
    background-color: black;
    position: relative; 
    overflow: hidden; 
    
}
.graphic-circle-1
{
   
    position: absolute;
    
    width: 8.125rem;
    
    height: 15.625rem;
    top: -5.375rem;
    right: -0.75rem;
    transform: rotate(45deg);
    background-color: #30305b;
    opacity: 0.3;
    border: 2px solid rgb(107, 107, 190);
    box-sizing: border-box;
    pointer-events: none;
   
    
   
}
.graphic-circle-5
{
   position:absolute;
  
   width: 29.063rem;
   height: 29.063rem;
   border-radius: 50%;
   bottom: -18.125rem;
   left: -18.125rem;
   background-color: #30305b;
   opacity: 0.3;
   border: 2px solid rgb(107, 107, 190);
   box-sizing: border-box;
   pointer-events: none;
 
   
   
}
.Home-card
{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex-grow: 1;
    
}
.punch
{
    background-color: #5a5ab2;
    
    width: 15%;
    height: 1.625rem;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    margin-top: 2%;
    /* background-image: radial-gradient(#30305b,white); */
}
.Home-card img
{
    margin-top: 2%;
  width: 20%;
}
.Home-card p{
    margin-top: 2%;
    font-size:large;
    width: 60%;
}
.getstarted
{
    margin-top: 2%;
    width: 15%;
    height: 2.5rem;
    border-radius: 0.625rem;
    background-color: #5a5ab2;
    color: white;
}
.even-columns
{
    margin-top: 2%;
    display: flex;
    width: 60%;
    
    justify-content: space-between;
    padding: 5px;
}
.card
{
    width: 40%;
    height: 11.25rem;
    border-radius: 0.625rem;
    background-color: #161316;
}

.MobileSignButton{
    display: none;
}

@media (max-width: 480px) {
.graphic-circle-1
{
    top: -6.375rem;
    right: -1.75rem;
}
.graphic-circle-5
{
    bottom: -20.125rem;
    left: -18.125rem;
}
.punch
{
    margin-top: 5%;
    width: 40%;
}
.Home-card img
{
    margin-top: 5%;
  width: 40%;
}
.Home-card p{
    margin-top: 5%;
    font-size:smaller;
    width: 80%;
}
.getstarted
{
    margin-top: 5%;
    width: 45%;
    height: 2.5rem;
}
.even-columns
{display: none;}

.MobileSignButton
{
   
   height: 50%;
   width: 80%;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
}
.MobileSignButton button
{
    width: 75%;
    height: 5rem;
    border-radius: 1rem;
    border: 0.1px solid rgb(245, 243, 243);
    background-color: black;
    color: white;
    margin: 3rem;
}
.MobileSignButton button:hover {
    background-color: white;
    color: black;
}

.MobileSignButton .active {
    background-color: white;
    color: black;
}

}